/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  padding: 10px;
  max-width: 90%;
}

.header {
  text-align: center;
  padding: 0.3rem;
}

header.img {
  margin-bottom: 0.3rem;
}

form .mat-raised-button {
  margin-right: 8px;
}
